@CHARSET "UTF-8";

body.begin {
	background-image: url('../images/background.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
  	opacity: 0.7;
}