<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.whoever"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:parentActivityName=".StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.whoever.MainActivity" />
        </activity>

        <activity android:name=".StartActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activities.SearchActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity android:name=".activities.NotifyActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".activities.PostStatusActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity android:name=".activities.SearchContactActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity android:name=".activities.AppSettingActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name=".activities.AccountSettingActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        
        <activity android:name=".activities.MessageActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name=".activities.HelpCenterActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name=".activities.LogActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name=".activities.PrivacyActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name=".activities.ReportActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name=".activities.ProifileActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name=".activities.ReplyActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB4Wm9xg0-IGHjOtXd7RO9RdWyUMuiM-A8"/>
    </application>

</manifest>
